In [1]:
import pandas as pd

In [2]:
!ls

'archive (49).zip'   main.ipynb

In [3]:
!unzip ./archive\ \(49\).zip

Archive:  ./archive (49).zip
  inflating: reviews.csv
  inflating: reviews_by_course.csv

In [4]:
data = pd.read_csv('./reviews.csv')

In [5]:
data.head()

   Id                                             Review  Label
0   0                               good and interesting      5
1   1  This class is very helpful to me. Currently, I...      5
2   2  like!Prof and TAs are helpful and the discussi...      5
3   3  Easy to follow and includes a lot basic and im...      5
4   4  Really nice teacher!I could got the point eazl...      4

In [6]:
len(data)

107018

In [7]:
data['Label'].value_counts()

5    79173
4    18054
3     5071
1     2469
2     2251
Name: Label, dtype: int64

In [8]:
import numpy as np
to_delete = np.random.choice(data[data['Label'] == 5].index,size=60000)

In [12]:
data = data.drop(to_delete)

In [13]:
data['Label'].value_counts()

5    37150
4    18054
3     5071
1     2469
2     2251
Name: Label, dtype: int64

In [14]:
import numpy as np
to_delete = np.random.choice(data[data['Label'] == 5].index,size=15000)
data = data.drop(to_delete)

In [15]:
data['Label'].value_counts()

5    24814
4    18054
3     5071
1     2469
2     2251
Name: Label, dtype: int64

In [16]:
import numpy as np
to_delete = np.random.choice(data[data['Label'] == 5].index,size=7500)
data = data.drop(to_delete)

In [17]:
data['Label'].value_counts()

5    18361
4    18054
3     5071
1     2469
2     2251
Name: Label, dtype: int64

In [19]:
labels = []
info_dict = {'POSITIVE':0,'NEGATIVE':1}
for label in data['Label']:
    label = int(label)
    if label >= 2.5:
        labels.append(info_dict['POSITIVE'])
    else:
        labels.append(info_dict['NEGATIVE'])

In [21]:
data['Label'][0]

5

In [22]:
data['Label'] = labels

In [23]:
data['Label'][0]

0

In [24]:
import json
with open('info.json','w') as json_file:
    json.dump(info_dict,json_file)

In [25]:
!ls

'archive (49).zip'   info.json	 main.ipynb   reviews.csv

In [26]:
data

            Id                                             Review  Label
0            0                               good and interesting      0
1            1  This class is very helpful to me. Currently, I...      0
4            4  Really nice teacher!I could got the point eazl...      0
7            7  I was disappointed because the name is mislead...      0
12          12  This is a good course for an CIO in a non tech...      0
...        ...                                                ...    ...
107010  107010  For those interested in taking exams, these qu...      1
107013  107013  Trendy topic with talks from expertises in the...      0
107015  107015   an interesting and fun course. thanks. dr quincy      0
107016  107016  very broad perspective, up to date information...      0
107017  107017  An informative course on the social and financ...      0

[46206 rows x 3 columns]

In [27]:
data.drop('Id',inplace=True,axis=1)

In [28]:
data

                                                   Review  Label
0                                    good and interesting      0
1       This class is very helpful to me. Currently, I...      0
4       Really nice teacher!I could got the point eazl...      0
7       I was disappointed because the name is mislead...      0
12      This is a good course for an CIO in a non tech...      0
...                                                   ...    ...
107010  For those interested in taking exams, these qu...      1
107013  Trendy topic with talks from expertises in the...      0
107015   an interesting and fun course. thanks. dr quincy      0
107016  very broad perspective, up to date information...      0
107017  An informative course on the social and financ...      0

[46206 rows x 2 columns]

In [29]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
cv = CountVectorizer()

In [30]:
X = data['Review']
y = data['Label']

In [31]:
cv.fit(X)

CountVectorizer()

In [32]:
X = cv.transform(X)

In [34]:
from sklearn.ensemble import *
from sklearn.linear_model import *
from sklearn.tree import *
from sklearn.model_selection import *
from sklearn.metrics import *
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25)

In [35]:
model_DecisionTreeClassifier = DecisionTreeClassifier()
model_DecisionTreeClassifier.fit(X_train,y_train)

DecisionTreeClassifier()

In [36]:
model_DecisionTreeClassifier.score(X_test,y_test)

0.8876385041551247

In [40]:
results = cross_val_score(model_DecisionTreeClassifier,X,y,cv=5)

In [41]:
results.mean()

0.8844524794368201

In [42]:
model_RandomForestClassifier = RandomForestClassifier()
model_RandomForestClassifier.fit(X_train,y_train)

RandomForestClassifier()

In [43]:
model_RandomForestClassifier.score(X_test,y_test)

0.9072887811634349

In [62]:
text = input('Review : ')
text = cv.transform([text])
info_dict_ = {}
for key,value in zip(info_dict.keys(),info_dict.values()):
    info_dict_[value] = key
info_dict_[model_RandomForestClassifier.predict(text)[0]]

Review : great teacher

'POSITIVE'

In [63]:
import pickle
pickle.dump(model_RandomForestClassifier,open('model.pkl','wb'))

In [64]:
import json
with open('info_.json','w') as json_file:
    json.dump(info_dict_,json_file)

In [65]:
!ls

'archive (49).zip'   info_.json   model.pkl
 info.json	     main.ipynb   reviews.csv

In [66]:
pickle.dump(cv,open('cv.pkl','wb'))